.navbar {
    background-color:rgb(49, 99, 0, 0.4)!important;
}

.btn {
    background-color: #001f3f !important;
    color: #FFFFFF !important;
}

.controlBtn {
    background-color: #d6d310;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    text-align: center;
    width: 80px;
    border-radius: 25px;
    text-decoration: none;
    border: none
}

.nav-link{
    color: #ffffff !important;
}

.nav-item:hover {
    background-color: red;
    text-decoration: none;
    padding: 5px 1px 5px 1px;
    width: 100px;
}

.nav-link:hover {
    background-color:#d6d310;
    text-decoration: none;
}
